<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net481" />
  <package id="Google.Protobuf" version="3.21.5" targetFramework="net481" />
  <package id="Hangfire.Core" version="1.7.31" targetFramework="net46" />
  <package id="K4os.Compression.LZ4" version="1.2.16" targetFramework="net481" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.16" targetFramework="net481" />
  <package id="K4os.Hash.xxHash" version="1.0.7" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net46" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
</packages>